.formButton {
  animation: slideBottomTop 500ms linear;
  transform: translate3d(0, 0, 0);
}

@keyframes slideBottomTop {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
