.flex {
  display: flex;
}

.flex-row {
  flex-direction: column;
}

.flex-column {
  flex-direction: row;
}

.flex-1 {
  flex: 1;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.width-full {
  width: 100%;
}

.width-screen {
  width: 100vw;
}

.width-1\/4 {
  width: 33.3%;
}

.width-3\/4 {
  width: 66.6%;
}

.height-full {
  height: 100%;
}

.height-screen {
  height: 100vh;
}

.bg-primary {
  background-color: #5780c6;
}

.bg-white {
  background-color: #ffffff;
}

.text-white {
  color: #ffffff;
}

.padding {
  padding: 1.5rem;
}

.rounded {
  border-radius: 1rem;
}

a {
  text-decoration: none;
}

.shadow {
  box-shadow: 0 8px 20px 0 rgba(156, 156, 156, 1);
}
